<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <style>
  .sortable1, .sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  .sortable1 li, .sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
  }
  </style>

</head>
<body>
 <select id="yearDropDown" onchange="runFilter()">
  <option value="1">Year 1</option>
  <option value="2">Year 2</option>
  <option value="3">Year 3</option>
  <option value="4">Year 4</option>
</select>
Female Only: <input type="checkbox" id="femaleCheck" onchange="runFilter()">
Senior Player<input type="checkbox" id="seniorCheck" onchange="runFilter()">


<div id="teams">

</div>
</body>
</html>

<script>  

function runFilter(){

var yearDocument = document.getElementById("yearDropDown");
var yearDropDownValue = yearDocument.options[yearDocument.selectedIndex].value;

//what is senior getting saved as? true falce, 1,0 or string??

filterData(yearDropDownValue,"",femaleCheck.checked,"","");
}

 $(document).ready(once(function() {
 
    //filterData(1, "", "", "", "");
  }));

     var filterData = function(year, school, fmale_only, senior, position) {
      $.ajax("/admin/filter", {
        type: "POST",
        data: {
          year: year,
          school: school,
          female_only: fmale_only,
          senior: senior,
          position: position
        },
        success: function(data, textStatus, jqXHR) {
          $("#teams").empty();
          $("#teams").append(data);
          alert("success");
        },
        error: function(jqXHR, textStatus, errorThrown) {
          alert("failure");
        }
      });
    };

</script>

