<!DOCTYPE html>
<html>
<head>
  <title>TawaCricketClub</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="span10" id="primary-content">
    	<h1>Tawa Cricket Club</h1>
    	<div class="span7">
    		<h4>Welcome</h4>
 			<p>
Tawa Cricket Club is committed to promote cricket in most local areas for children - both boys and girls. MILO cricket is an introductory cricket program for kids aged 5 to 8 years old. Cricket Wellington, together with the New Zealand Cricket, run a comprehensive junior cricket program. Watch this space for to find registration dates, recommended starting age and more information on Cricket.</p>
			</br>
				<b>All up there are 41 registered teams in the cricket community.</b>
 			</p> 
		 </div>

     <div class="span3">
        <h4>Content</h4>
      </div> 
 	</div>
   </div>
</div>
</body>
</head>
</html>
