<!DOCTYPE html>
<html>
<head>
  <title>TawaCricketClub</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="span10" id="primary-content">
    	<h1>Tawa Cricket Club</h1>
    	<div class="span7">
    		<h4>History</h4>
 			<p>The North City Cricket Club is a District cricket club and the only senior club affiliated to Cricket Wellington covering the Porirua City and Tawa Borough cricket communities.<p/>

 			<p>In 1995 the Tawa Cricket Club (founded 1947) and Mana Cricket Club (founded 1975)  got together and jointly formed North City as a District cricket team to compete in the newly amalgamated Wellington and Hutt Valley Senior Men's club competition. Both clubs provided players to this team. A second North City team was added around 2000.
			</br>
			In 2005 the Mana Cricket Club senior Men's club folded and the Tawa Cricket Club formally took over responsibility for the 2 North City teams and changed its name to North City Cricket Club Inc. on 20 Sept 2006 registering the change of name with the Companies Office. This has continued to the current day with the North City Cricket Club, at adult Men's and Women's level continuing to operate as a District cricket club in the Porirua City and Tawa communities.<p>

			<p>Catering for Players at all levels
			</br>
			The Tawa and Mana Cricket Clubs both had junior sections at the time a District team was formed. In the case of Tawa, the junior section has always been fully integrated with the senior club, but for Mana the junior section largely operated independently from the senior club and for many years was run by Brian Keats then with the assistance of Noel Hellyer. The Whitby junior section started in the late 1990's and jointly fielded teams with Mana initially.
			</br>
			At junior level the Mana, Tawa and Whitby junior areas have enjoyed a close working relationship over many years jointly running a Saturday morning junior competition which has become more integrated with Wellington in the past couple of seasons. The close cooperation has also involved fielding teams at Underage Zone level in Cricket Wellington underage competitions and sending teams to Hawkes Bay cricket camps.
			</br>
			Aotea and Tawa are the two Colleges in the North City cricket community that field teams in the College Sport Wellington competition for both boys and girls. The boy’s First XI’s for both College’s compete in the Premier 2 grade while the Tawa girl’s First XI competes in the Premier 1 grade and the Aotea First XI in the 8 aside competition.
			</br>
				<b>All up there are 41 registered teams in the North City cricket community.</b>
 			</p>        
		 </div>
		 <div class"span3"><h4>Content</h4></div>
 	</div>
   </div>
</div>
</body>
</head>
</html>
