<style type="text/css">

.gallerycontainer{
position: relative;
width:800px;
left: 13%;

/*Add a height attribute and set to largest image's height to prevent overlaying*/
}

.thumbnail img{

margin: 0 5px 5px 0;
}

.thumbnail:hover{
background-color: transparent;
}

.thumbnail span{ /*CSS for enlarged image*/
position: absolute;
padding: 15px;

visibility: hidden;
color: black;
text-decoration: none;
width: 700px;
height: 400px;

}

.thumbnail span img{ /*CSS for enlarged image*/


width: 700px;
height: 400px;
}

.thumbnail:hover span{ /*CSS for enlarged image*/
position: absolute;
visibility: visible;
top: 10%;
top: middle;
left: 10%; /*position where enlarged image should offset horizontally */
z-index: 50;
width: 70%;
height: 80%;
background-color: white;



}

</style>
<h1>Gallery</h1>

<div class="gallerycontainer">

<table id = "myTable">
<% @images.in_groups_of(3,false).each do |group| %>
    <tr>
        <% group.each do |img| %>
            <td> 
                <a class="thumbnail" href="#thumb"><%= image_tag img.pic.url, :style=>  'width:300px;height:250px'%><span><%= img.img_name %><%= image_tag img.pic.url %> 
                </span></a>
            </td>
        <%end%>
    </tr>
<% end %>
</table>









</div>

<table>
<%= link_to 'Upload Image', new_image_path %>
</table>
